/* Styles for each category */
.faq-category {
  margin-bottom: 30px;
}

/* Styles for the category title */
.faq-category-title {
  font-size: 18px;
  color: white;
  background-color: #2D61CB;
  padding: 10px 20px;
  margin-bottom: 16px;
}

/* Styles for each FAQ item */
.faq-item {
  padding: 10px;
  margin-bottom: 6px;
  background-color: #E0EDFD;
  color: #318cfc;

}

/* Styles for the question */
.faq-question {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Styles for the answer */
.faq-answer {
  margin-bottom: 10px;
}
 