.sidebar {
   display: flex;
   flex-direction: column;

   font-size: 18px;
}

.sidebar-item {
   display: flex;
   align-items: start;
   gap: 15px;

   border-top: 1px solid #B1D4FE;
   padding: 8px 0;
   text-decoration: none;
   transition: .3s;
}

.sidebar-item:last-child {
   border-bottom: 1px solid #B1D4FE;
}

.sidebar-item img {
   height: 20px;
}
.sidebar-item a {
   line-height: 1.2;
   color: #318cfc;
   transition: .3s;
}

.sidebar-item a:hover {
   color: black;
}
