.container {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;

   max-width: 600px;
}

.content {
   margin-top: 40px;
   width: 100vh;
   display: grid;
   grid-template-columns: 1fr 3fr;
}